{% extends 'baseFront.html.twig' %}
{% block content %}

    <center>
        <h1>Demandes list</h1>
        <br>
        <br>
        <table border="2">
            <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Id Mission</th>
                <th>ACTION</th>

            </tr>
            </thead>
            <tbody>
            {% for demande in demandes %}
                <tr>

                    <td>{{ demande.id }}</td>
                    <td>{{ demande.description }}</td>
                    <td>{{ demande.prix }}</td>
                    <td>{{ demande.idmission.id}}</td>
                    <td> <a href="{{ path('demande_delete', { 'id':demande.id }) }}">delete</a></td>


                    <td>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br>
    </center>
{% endblock content %}

